<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="https://github.com/fredrikattebrant/emf.uuid.library.example/1.0"
            class="Library.LibraryPackage"
            genModel="model/emf.uuid.library.example.genmodel"/>
   </extension>

</plugin>
